
/* 조에룸 시작 */

/* 조에룸 메뉴바 시작 
#main-menu-box {position: relative;}
#main-menu-box .inner {position: fixed; top: 40%; right: 0; transform: translate(-50% -50%); z-index: 100; margin-right: 30px; }
#main-menu-box .inner .width-size {}
#main-menu-box .inner .width-size .menu-bar {}
#main-menu-box .inner .width-size .menu-bar > ul {}
#main-menu-box .inner .width-size .menu-bar > ul > li {margin-bottom: 30px;}
#main-menu-box .inner .width-size .menu-bar > ul > li > a {font-size: 20px; font-weight: 500;}
#main-menu-box .inner .width-size .menu-bar > ul > li:hover > a {font-weight: 700;}

#main-menu-box .inner .width-size .menu-bar > ul > li > a > span {position: relative; border: 1px solid black; border-radius: 50%; width: 100px; height: 100px; padding: 7px;}
#main-menu-box .inner .width-size .menu-bar > ul > li > a > span::after {content: ""; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); width: 0; height: 4px; background-color: #040485; transition: width 0.3s;}
#main-menu-box .inner .width-size .menu-bar > ul > li:hover > a > span::after {width: 100%;}
*/

/*메인 메뉴 로고!*/
.main-menu-logo {position: fixed; right: 4%; top: 50%; transform: translate(0, -50%);  z-index: 110; transition: right 0.7s; animation-duration: 1.2s;}
.main-menu-logo:hover {animation-name:motion;}
.main-menu-logo.active { right: 10%;}
.main-menu-logo .img-box {}
.main-menu-logo .img-box > img {}

@keyframes motion {
  0% {
    top: 50%;
  }
  30% {
    top: 49%;
  }
  60% {
    top: 50%;
  } 
  90% {
    top: 49%;
  }
  100% {
    top: 50%;
  }
}

/*메인 메뉴 시작*/
.main-menu-box {background-color: #FFE4B5; position: fixed; top: 0; right: -260px; height: 100%; width: 250px; z-index: 100; transition: right 1s;}
.main-menu-box.active {right: 0;}

.main-menu-box .logo {margin-top: 40px;}
.main-menu-box .logo .img-box {width: 80%; display: block; margin: auto;}
.main-menu-box .logo .img-box > img {}

.main-menu-box > ul {position: absolute; width: 100%; top: 50%; right: 0; transform: translate(0, -50%);}
.main-menu-box > ul > li {text-align:center; padding: 10px 0; background-color: #FFE4B5; transition: background-color 0.5s;}
.main-menu-box > ul > li:hover {background-color: #B38164;}
.main-menu-box > ul > li > a.active {}
.main-menu-box > ul > li > a {display: block; padding: 20px; font-size: 23px; font-weight: 500;}
.main-menu-box > ul > li:hover > a {font-weight: 700;}

.main-menu-box .side-footer {position: absolute; right: 10px; bottom: 40px; left: 10px; text-align: center;}
.main-menu-box .side-footer .sf-adress {margin-top: 12px; font-size: 12px; line-height: 20px; padding: 0 10px; text-align: left;}


/*section-1 동영상*/
#container {}
#container #fullpage {}
#container #fullpage .section-1 {}
#container #fullpage .section-1 .bg {position: relative; width: 100%; height: 100vh; overflow: hidden; margin: 0px auto;}
#container #fullpage .section-1 .bg > video {width: 100%; height: 100vh; object-fit: cover;}
#container #fullpage .section-1 .bg .wrap {border:10px solid red; width:100%; height: 100%; background: linear-gradient(to left, rgb(113, 113, 255), rgb(138, 255, 146)); mix-blend-mode: overlay;}
#container #fullpage .section-1 .bg > video > source {}
 
#container #fullpage .section-1 .bg .text {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#container #fullpage .section-1 .bg .text > p {text-align: center; font-size: 48px; color:#ffffff}
  
  
  /*section-2 슬라이드*/
  #container #fullpage .section-2 {position: relative; }
  #container #fullpage .section-2 .swiper {position: absolute;  width: 70%; top: 50%; left: 50%; transform: translate(-50%, -50%);}
  #container #fullpage .section-2 .swiper .swiper-wrapper {}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide {box-sizing: border-box;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .image-box {position: relative; overflow: hidden; box-sizing: border-box; width: 100%;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .image-box::before {content: ""; display: block; background-color: rgba(0, 0, 0, .0); position: absolute; width:100%; height: 100%; top:0; left: 0; right: 0; bottom: 0; transition: background-color 0.4s; z-index: 10;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide:hover .image-box::before {background-color: rgba(0, 0, 0, 0.4);}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .image-box > img {width:100%; height: 100%; display: block; object-fit: cover; transition:transform 0.7s;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide:hover .image-box > img {transform:scale(1.2);}

  /*section-2 슬라이드 hover 할 때 -1*/
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box {position: absolute; width: 100%; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: 0.5s; opacity: 0; z-index: 10; text-align: center;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide:hover .text-box {opacity: 1;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box > h4 {margin-top: 80px; font-size: 30px; color: white;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box > h3 {font-size: 30px; color: white;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box > p {display: block; color: white;}
  #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box > a {color: white; display: block; font-size: 20px; margin-top: 20px; padding: 10px;}

    /*section-2 슬라이드 hover 할 때 -2*/
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box-3 {position: absolute; width: 100%; bottom: 0; left: 50%; transform: translate(-50%, 0); transition: 0.5s; opacity: 1; z-index: 10; text-align: center;}
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide:hover .text-box-3 {opacity: 1; bottom: 72%;}
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box-3 > h5 {margin-top: 10px; font-size: 20px; color: white;}
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box-3 > h6 {margin-top: -20px; font-size: 22px; color: white;}
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box-4 {position: absolute; width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: 0.5s; opacity: 0; z-index: 10; text-align: center; }
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide:hover .text-box-4 {opacity: 1;}
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box-4 > p {display: block; color: white;}
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box-4 > a {color: white; display: block; font-size: 26px; margin-top: 20px; padding: 10px;}
    #container #fullpage .section-2 .swiper .swiper-wrapper .swiper-slide .text-box-4 > a:hover {color:#FFC8A8; font-size: 28px;}

    .btn-1 {
    letter-spacing: 0;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
  }
  .btn-1:hover,
  .btn-1:focus,
  .btn-1:active {
    letter-spacing: 8px;
  }
  .btn-1:after,
  .btn-1:before {
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    bottom: 0;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all .28s ease-in-out;
    transition: all .28s ease-in-out;
    width: 0;
  }
  .btn-1:hover:after,
  .btn-1:hover:before {
    border-color: #FFC8A8;
    -webkit-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 22%;
  }
  .btn-1:hover:before {
    bottom: auto;
    top: 0;
  }
  #container #fullpage .section-2 {position: relative;}
  #container #fullpage .section-2 .bg {text-align: center;}
  #container #fullpage .section-2 .section-2-title {position: absolute; top: 6%; left: 50%; transform: translate(-50%, 0);}
  #container #fullpage .section-2 .section-2-title .title { font-size: 40px; color: #FFC8A8;}
  
 /*section-3*/
 #container #fullpage .section-3 {position: relative;}
 #container #fullpage .section-3 .section-3-box {position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0); border: 2px solid green; width: 80%;}
 #container #fullpage .section-3 .section-3-box > h3 {border: 2px solid red;}



  /*section-4*/
  #container #fullpage .section-4 {position: relative;}
  #container #fullpage .section-4 .section-4-left {background-color: #FFE4B5; float: left; width: 50%; height: 100%; box-sizing: border-box; display: table;}
  #container #fullpage .section-4 .section-4-right {float: right; width: 50%; height: 100%; position: relative;}

  #container #fullpage .section-4 .section-4-left .section-4-left-inner {margin: 0 auto; width: 90%; margin-top: 30px; }
  #container #fullpage .section-4 .section-4-left .section-4-left-inner > h2 {}
  #container #fullpage .section-4 .section-4-left .section-4-left-inner > li {overflow: hidden; padding-left: 105px; position: relative; line-height: 40px; border-bottom: 1px dotted #404040;}
  #container #fullpage .section-4 .section-4-left .section-4-left-inner > li > strong {position: absolute; left: 0; top: 0;}
  #container #fullpage .section-4 .section-4-left .section-4-left-inner > li > p {}

  #container #fullpage .section-4 .section-4-left .content-box {margin:0 auto; width: 90%; margin-top: 10px;}
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner {position: relative;}
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner .content-box-left {float: left; width: 50%; height: 100%; box-sizing: border-box; display: table; border:1px solid pink;}
  
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner .content-box-right {float: right; width: 50%; height: 100%; position: relative; box-sizing: border-box;}
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner .content-box-right .inner {box-sizing: border-box;}
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner .content-box-right .inner > li {box-sizing: border-box;}
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner .content-box-right .inner > li:nth-child(1) {float:left; width: 50%; border: 1px solid red; height: 200px;}
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner .content-box-right .inner > li:nth-child(2) {float: right; width: 50%; margin-left: 20px; border: 1px solid green;}
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner .content-box-right .inner > li:nth-child(3) {float: left; width: 50%; border: 1px solid red; height: 200px; }
  #container #fullpage .section-4 .section-4-left .content-box .content-box-inner .content-box-right .inner > li:nth-child(4) {float: right; width: 50%; border: 1px solid green;}